body {
    font-family: Comic , sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 20px;
}
h1 {
    
    font-size: 30px;
    
}
h2 {
    
    font-size: 25px;
    
}
h3 {
    
    font-size: 25px;
    
}
h4 {
    
    font-size: 25px;
    
}
h5 {
    
    font-size: 25px;
    
}
h6 {
    
    font-size: 25px;
    
}
h6 {
    
    font-size: 25px;
    
}
h6 {
    
    font-size: 25px;
    
}